/* styles of the work list table */
table.weatherList {
    border-collapse: collapse;
    font: 12px/18px Arial, Sans-serif;
    margin: auto;
}

table.weatherList th {
    background-color: #e4f1fe;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
}

table.weatherList td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 4px;    
    vertical-align: top;
}


table.weatherList th.col1 {
    width: 20px;
}

table.weatherList tr:nth-child(even) {
    background-color: #f9f9f9;
}
